body
{
  background-image: url(backgroundimage.jpg);
  background-attachment: fixed;
}

thead
{
  padding-left: 5;
  padding-right: 5;
}

.col-lg-8 
{
  color: rgb(238, 231, 221);
}

.hyperlink-light
{
  color: rgb(238, 231, 221);
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline; 
}

.hyperlink-light:hover
{
  color: rgb(177, 154, 121);
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline; 
}

.hyperlink-dark
{
  color: rgb(63, 46, 12);
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline; 
}

.figure-caption
{
  color: rgb(63, 46, 12);
}

table 
{
  background-color: rgba(63, 46, 12, 0.50);
}

th
{
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 1200px) 
{ 
  .navbar 
  {
    background-color: rgb(105, 84, 43) !important;
  }

  .navbar-brand
  {
    color: rgb(238, 231, 221) !important;
  }

  .dropdown-menu
  {
    background-color: rgb(105, 84, 43) !important;
  }

  .dropdown-item
  {
    color: rgb(238, 231, 221) !important;
  }

  .nav-link
  {
    color: rgb(238, 231, 221) !important;
  }

  .navbar-toggler
  {
    color: rgb(238, 231, 221) !important;
  }
}

